<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="container">
        <div class="banner_container">
        </div>

        <!-- DA QUI PARTE LA STRUTTURA DELLA FINESTRA WINDOWS -->
        <div class="whatsapp_window">
            <!-- QUI TROVO LE NAVBAR NELLA FINESTRA IN ALTO -->
            <div id="navbars">
                <!-- BARRA NAVIGAZIONE SX -->
                <div class="left_navbar">
                    <div class="user">
                        <img src="img/avatar_io.jpg" alt="avatar_io">
                        <span>Antonino</span>
                    </div>
                    <div class="option">
                        <span><i class="fas fa-redo"></i></span>
                        <span><i class="fas fa-comment-alt"></i></span>
                        <span><i class="fas fa-ellipsis-v"></i></span>
                    </div>
                </div>
                <!-- BARRA DI NAVIGAZIONE DX -->
                <div class="right_navbar">
                    <div class="destinatario">
                        <img :src="contacts[activeClass].avatar" alt="avatar_1">
                        <div class="destinatary_info" >
                            <h3>{{contacts[activeClass].name}}</h3>
                            <span>ultimo accesso alle {{contacts[activeClass].messages[contacts[activeClass].messages.length-1].date}}</span>
                        </div>                     
                    </div>
                    <div class="option_chat">
                        <span><i class="fas fa-search"></i></span>
                        <span><i class="fas fa-paperclip"></i></span>
                        <span><i class="fas fa-ellipsis-v"></i></span>
                    </div>
                </div>
            </div>   
            
            <!-- QUI TROVO LA PARTE RELATIVA A CHAT E CONVERSAZIONE -->
            <div id="chat_conversation">
                <!-- QUI TROVO LA PARTE DELLE VARIE CHAT -->
                <div class="chat">
                    <!-- QUI TROVO LA PARTE PER ATTIVARE LE NOTIFICHE -->
                    <div class="active_notify">
                        <img src="img/notification-bell-icon-outline-notification-bell-vector-icon-for-web-design-isolated-on-white-background-400-170939883.jpg" alt="bell">
                        <div>
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <!-- QUI TROVO INPUT RICERCA CHAT -->
                    <div class="chat_search">
                        <span><i class="fas fa-search"></i></span>
                        <input type="text" placeholder="cerca o inizia nuova chat">
                    </div>
                    <!-- QUI TROVO CHAT -->
                    <div class="user_chat">
                        <div v-for="contact, i in contacts" :key="i"  class="open_chat" :class="i === activeClass ? 'active' : '' " @click="openChat(i)">
                            <div>
                                <img :src="contact.avatar" alt="avatar">
                                <div>  
                                    <h3>{{contact.name}}</h3>
                                    <span>Messaggio</span>
                                </div>
                            </div>
                            <div class="time_access">
                                <span>{{contact.messages[contact.messages.length-1].date}}</span>
                           </div>                    
                       </div>
                    </div>
                </div>
                <!-- QUI TROVO LA CONVERSAZIONE APERTA -->
                <div class="conversation">
                    <div class="conversazione_aperta visible" >
                        <!-- QUI LE RISPOSTE DELL'UTENTE -->
                        <div :class="item.status" v-for="item in contacts[activeClass].messages">
                            <div>
                                <h3>{{item.text}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="write_text">
                        <div>
                            <div class="emoj_barratext" >
                                <span><i class="far fa-smile"></i></span>
                                <input @keydown.enter="addMex" v-model="newMessage.text" type="text" placeholder="Scrivi un messaggio">
                            </div>
                            <div class="microfono">
                                <span><i class="fas fa-microphone"></i></span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>